html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }
  
  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important; }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem; }

    .banner-area {
        
        width: 1000px;
        margin: auto;
        margin-top: 30px;
        z-index: 1; }
.banner-area:before {
          position: absolute;
          content: "";
          height: 100%;
          width: 650px;
          top: 0;
          left: 0; }
 .banner-area .banner-owl-area.owl-carousel .owl-stage-outer {
          height: 600px; }
.banner-area:before {
          background-image: url(../img/homepage/banner-bg.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          opacity: 0.2;
          z-index: -1; }
.banner-area .owl-dots {
          position: absolute;
          bottom: 30px;
          right: 30%;
          display: flex;
          align-items: center; }
 .banner-area .owl-dots .owl-dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: var(--border-color);
            margin: 0px 10px;
            position: relative; }
 .banner-area .owl-dots .owl-dot:after {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              border-radius: 50%;
              border: 1px solid var(--color-Sub-heading);
              transform: scale(0); }
            .banner-area .owl-dots .owl-dot.active {
              background-color: var(--color-Sub-heading); }
              .banner-area .owl-dots .owl-dot.active:after {
                transform: scale(2);
                transition: .3s ease; }
      
      .banner-single-wrapper {
        display: flex;
        align-items: center;
        height: 600px;
        width:1000px; }
      
      .banner-img-area {
        max-width: 500px; }
        .banner-img-area h4 {
          font-size: 20px;
          padding-bottom: 25px;
          text-transform: capitalize; }
        .banner-img-area .banner-img .imga {
          background-color: var(--color-input);
          padding: 15px;
          height: 100%;
          width: 100%; }
      
      .banner-content-area {
        margin-left: 70px;
        max-width: 500px; }
        .banner-content-area h5 {
          font-size: 20px;
          color: var(--color-Sub-heading);
          padding-bottom: 5px; }
        .banner-content-area h1 {
          padding-bottom: 15px; }
          .banner-content-area h1 a {
            color: var(--color-heading); }
        .banner-content-area h4 {
          font-size: 17px;
          font-family: var(--title-font);
          color: var(--color-heading);
          font-weight: var(--text-medium);
          padding-bottom: 20px; }
        .banner-content-area p {
          color: var(--color-light);
          padding-bottom: 30px; }
      
      .banner-area .owl-item .banner-single-wrapper {
        opacity: 0;
        transition: .4s ease; }
      
      .banner-area .owl-item .banner-img-area h4 {
        transform: translateY(-100px); }
      
      .banner-area .owl-item .banner-img-area .banner-img {
        position: relative;
        opacity: 0; }
      
      .banner-area .owl-item .banner-content-area h5,
      .banner-area .owl-item .banner-content-area h1,
      .banner-area .owl-item .banner-content-area h4,
      .banner-area .owl-item .banner-content-area p,
      .banner-area .owl-item .banner-content-area .btn {
        transform: translateY(100px);
        transition: transform .5s ease, clip-path .8s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        opacity: 0; }
      
      .banner-area .owl-item .banner-content-area h5 {
        transition-delay: .1s; }
      
      .banner-area .owl-item .banner-content-area h1 {
        transition-delay: .3s; }
      
      .banner-area .owl-item .banner-content-area h4 {
        transition-delay: .6s; }
      
      .banner-area .owl-item .banner-content-area p {
        transition-delay: .9s; }
      
      .banner-area .owl-item .banner-content-area .btn {
        transition-delay: .9s !important; }
      
      .banner-area .owl-item.active .banner-single-wrapper {
        opacity: 1; }
      
      .banner-area .owl-item.active .banner-img-area h4 {
        transform: translateY(0px);
        transition: var(--cubic-bezier); }
      
      .banner-area .owl-item.active .banner-img-area .banner-img {
        opacity: 1; }
        .banner-area .owl-item.active .banner-img-area .banner-img:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transform: scaleY(0);
          transform-origin: left top;
          background-color: var(--color-secondary);
          z-index: 9999;
          -webkit-transition: var(--ease-in-out);
          -moz-transition: var(--ease-in-out);
          -o-transition: var(--ease-in-out);
          transition: var(--ease-in-out);
          animation: top-to-bottom 1.5s 1; }
      
      .banner-area .owl-item.active .banner-content-area h5,
      .banner-area .owl-item.active .banner-content-area h1,
      .banner-area .owl-item.active .banner-content-area h4,
      .banner-area .owl-item.active .banner-content-area p,
      .banner-area .owl-item.active .banner-content-area .btn {
        transform: translateY(0px);
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
        
.containers
         {
          
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto; }