<div class="widgets">

    <!--  -->

    <!--  -->

    <div class="tree" id="fenye">
        <!--
            div
        -->
    </div>
    
    <div class="fenye">
        <div class="fenye_list">
            <ul id="fenye_list">
                <li><a class="fensiprev">上一页</a></li>
                <li><a class="fensinext">下一页</a></li>
            </ul>
            <a class="page">
                总页数：
                <span id="page"></span>
                页
            </a>
            <a class="page" id="freshen">刷新</a>
        </div>
    </div>



         </div>
    </div>                      
</div>


<div class="widgets">
    <div class="tab" id="tab2"></div>

        <div class="tab-nav j-tab-nav">

            <a href="javascript:void(0);" class="current">志愿者</a>

            <a href="javascript:void(0);">患病儿童监护人</a>

            <a href="javascript:void(0);">社会组织</a>

          

        </div>

        <div class="tab-con">

            <div class="j-tab-con">

                <div class="tab-con-item" style="display:block;">

                    <div class="tree" id="fenye">
                        <!--
                            div
                        -->
                    </div>
                    
                    <div class="fenye">
                        <div class="fenye_list">
                            <ul id="fenye_list">
                                <li><a class="fensiprev">上一页</a></li>
                                <li><a class="fensinext">下一页</a></li>
                            </ul>
                            <a class="page">
                                总页数：
                                <span id="page"></span>
                                页
                            </a>
                            <a class="page" id="freshen">刷新</a>
                        </div>
                    </div>

                </div>

                <div class="tab-con-item">

                    <div class="tree" id="fenye">
                        <!--
                            div
                        -->
                    </div>
                    
                    <div class="fenye">
                        <div class="fenye_list">
                            <ul id="fenye_list">
                                <li><a class="fensiprev">上一页</a></li>
                                <li><a class="fensinext">下一页</a></li>
                            </ul>
                            <a class="page">
                                总页数：
                                <span id="page"></span>
                                页
                            </a>
                            <a class="page" id="freshen">刷新</a>
                        </div>
                    </div>

                </div>

                <div class="tab-con-item">

                    <div class="tree" id="fenye">
                        <!--
                            div
                        -->
                    </div>
                    
                    <div class="fenye">
                        <div class="fenye_list">
                            <ul id="fenye_list">
                                <li><a class="fensiprev">上一页</a></li>
                                <li><a class="fensinext">下一页</a></li>
                            </ul>
                            <a class="page">
                                总页数：
                                <span id="page"></span>
                                页
                            </a>
                            <a class="page" id="freshen">刷新</a>
                        </div>
                    </div>

                </div>

                

            </div>

        </div>

    </div>